.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #ffffff;
  width: 90%;
  max-width: 550px;
  border-radius: 16px;
  padding: 35px 30px;
  position: relative;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease-in-out;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
}

.modal-header h2 {
  margin: 10px 0 0;
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.modal-image {
  width: 60px;
  height: auto;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
}

.car-form {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 14px;
}

.car-form label {
  font-size: 14px;
  color: #555;
  font-weight: 500;
}

.car-form input,
.car-form select,
.car-form textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
  background: #f8f9fa;
  transition: all 0.2s ease;
}

.car-form input:focus,
.car-form select:focus,
.car-form textarea:focus {
  outline: none;
  border-color: #3b82f6;
  background-color: #fff;
}

.car-form textarea {
  resize: vertical;
  min-height: 80px;
}

.submit-btn {
  background: linear-gradient(to right, #4f46e5, #3b82f6);
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  /* margin-top: 10px; */
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background: linear-gradient(to right, #4338ca, #2563eb);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
